body {
    background: #f6f6fa;
    padding: 40px;
    font-family: "Montserrat", sans-serif;
}

ul,
ol {
    margin: 0;
}

.wrapper {
    background: #ffffff;
    display: flex;
    margin: 0 auto;
    width: 1200px;
}

.main-content {
    padding: 88px 40px 88px 88px;
    box-sizing: border-box;
}

.sidebar {
    background: #e0ebfe;
    box-sizing: border-box;
    width: 370px; /* Фіксована ширина для всіх пристроїв */
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar img {
    display: block;
    width: 100%; /* Фото відповідає ширині бічної секції */
    height: auto;
}

.sidebar-content {
    padding: 40px;
}

.contacts-title, .skills-title, .my-projects-title, .work-experience-title {
    color: #161d2a;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 8px;
}

.contacts-link, .my-projects-item-link {
    color: #2979ff;
    text-decoration: underline;
}

.my-name {
    font-size: 45px;
    margin-bottom: 12px;
}

.my-descr, .my-projects-item-tech, .work-experience-period, .work-experience-duties-item {
    color: #595959;
    font-size: 14px;
    line-height: 24px;
}

.work-experience-container {
    margin-bottom: 14px;
}

.Ed-dobro {
    margin-top: 40px;
}

/* Для мобільних пристроїв (до 767px) */
@media screen and (max-width: 767px) {
    .wrapper {
        flex-direction: column;
    }

    .sidebar {
        order: -1; /* Sidebar зверху */
        width: 370px; /* Фіксована ширина залишається незмінною */
        margin: 0 auto; /* Центрування секції */
    }
}

/* Для планшетів і малих екранів (768px - 1157px) */
@media screen and (min-width: 768px) and (max-width: 1157px) {
    .wrapper {
        flex-direction: column;
    }

    .sidebar {
        order: -1; /* Sidebar зверху */
        width: 370px; /* Фіксована ширина залишається незмінною */
        margin: 0 auto; /* Центрування секції */
    }
}

/* Для ПК (від 1158px) */
@media screen and (min-width: 1158px) {
    .wrapper {
        flex-direction: row-reverse;
    }
}
