/* Стиль для тіла сторінки */
body {
    background: #f6f6fa; /* Світлий фон для всієї сторінки */
    padding-left: 40px; /* Відступ зліва */
    padding-top: 40px; /* Відступ зверху */
    padding-right: 40px; /* Відступ справа */
    padding-bottom: 40px; /* Відступ знизу */
    font-family: "Montserrat", sans-serif; /* Встановлення шрифту */
}

/* Встановлення відступів для списків */
ul,
ol {
    margin-top: 0; /* Відсутність верхнього відступу */
    margin-bottom: 0; /* Відсутність нижнього відступу */
}

/* Контейнер для всього контенту */
.wrapper {
    background: #ffffff; /* Білий фон */
    display: flex; /* Використовуємо flexbox для розташування елементів */
    flex-direction: row-reverse; /* Зміщення sidebar до правої сторони */
    width: 1200px; /* Фіксована ширина контейнера */
    margin: 0 auto; /* Центрування контейнера */
}

/* Стиль для основного контенту */
.main-content {
    padding-left: 88px; /* Відступ зліва */
    padding-top: 80px; /* Відступ зверху */
    padding-right: 40px; /* Відступ справа */
    padding-bottom: 88px; /* Відступ знизу */
    box-sizing: border-box; /* Включення відступів у ширину елементів */
}

/* Стиль для sidebar */
.sidebar {
    background: #e0ebfe; /* Світло-блакитний фон */
    padding-top: 40px; /* Відступ зверху */
    padding-bottom: 40px; /* Відступ знизу */
    box-sizing: border-box; /* Включення відступів у ширину */
    width: 370px; /* Фіксована ширина sidebar */
}

/* Стиль для вмісту sidebar */
.sidebar-content {
    padding-left: 40px; /* Відступ зліва */
    padding-top: 40px; /* Відступ зверху */
    padding-right: 40px; /* Відступ справа */
    box-sizing: border-box; /* Включення відступів у ширину */
}

/* Заголовок секції контактів */
.сontacts-title {
    color: #161d2a; /* Колір тексту */
    font-family: Montserrat; /* Шрифт */
    font-size: 22px; /* Розмір шрифту */
    font-weight: 700; /* Жирний шрифт */
    line-height: normal; /* Висота рядка */
    margin-top: 0; /* Відсутність верхнього відступу */
    margin-bottom: 8px; /* Нижній відступ */
}

/* Стиль для типу контакту */
.contacts-type {
    color: #161d2a; /* Колір тексту */
    font-size: 14px; /* Розмір шрифту */
    font-weight: 700; /* Жирний шрифт */
    line-height: 24px; /* Висота рядка */
    margin-right: 8px; /* Відступ справа */
}

/* Стиль для посилання контакту */
.contacts-link {
    color: #2979ff; /* Колір посилання */
    font-size: 14px; /* Розмір шрифту */
    font-weight: 400; /* Тонкий шрифт */
    line-height: 24px; /* Висота рядка */
    text-decoration-line: underline; /* Підкреслення */
}

/* Стиль для елементів списку контактів */
.сontacts-item {
    margin-top: 0; /* Відсутність верхнього відступу */
    margin-bottom: 4px; /* Нижній відступ */
}

/* Контейнер для контактів */
.сontacts-container {
    margin-bottom: 40px; /* Нижній відступ */
}

/* Контейнер для навичок */
.skills-container {
    margin-bottom: 40px; /* Нижній відступ */
}

/* Заголовок для навичок */
.skills-title {
    color: #161d2a; /* Колір тексту */
    font-size: 22px; /* Розмір шрифту */
    font-weight: 700; /* Жирний шрифт */
    line-height: normal; /* Висота рядка */
    margin-top: 0; /* Відсутність верхнього відступу */
    margin-bottom: 8px; /* Нижній відступ */
}

/* Стиль для списку навичок */
.skills-list {
    padding-left: 16px; /* Відступ зліва */
}

/* Стиль для елементів списку навичок */
.skills-list-item {
    color: #161d2a; /* Колір тексту */
    font-size: 14px; /* Розмір шрифту */
    font-weight: 400; /* Тонкий шрифт */
    line-height: 24px; /* Висота рядка */
}

/* Стиль для професії */
.my-profession {
    color: #000; /* Колір тексту */
    font-size: 14px; /* Розмір шрифту */
    font-weight: 700; /* Жирний шрифт */
    line-height: 17px; /* Висота рядка */
    margin-top: 0; /* Відсутність верхнього відступу */
    margin-bottom: 8px; /* Нижній відступ */
}

/* Стиль для імені */
.my-name {
    color: #000; /* Колір тексту */
    font-size: 45px; /* Розмір шрифту */
    font-weight: 700; /* Жирний шрифт */
    line-height: 55px; /* Висота рядка */
    margin-top: 0; /* Відсутність верхнього відступу */
    margin-bottom: 12px; /* Нижній відступ */
}

/* Стиль для опису */
.my-descr {
    color: #595959; /* Колір тексту */
    font-size: 14px; /* Розмір шрифту */
    font-weight: 400; /* Тонкий шрифт */
    line-height: 24px; /* Висота рядка */
}

/* Стиль для інформації про користувача */
.my-info {
    margin-bottom: 40px; /* Нижній відступ */
}

/* Стиль для заголовка проектів */
.my-projects-title {
    color: #000; /* Колір тексту */
    font-size: 22px; /* Розмір шрифту */
    font-weight: 700; /* Жирний шрифт */
    line-height: 27px; /* Висота рядка */
    margin-top: 0; /* Відсутність верхнього відступу */
    margin-bottom: 8px; /* Нижній відступ */
}

/* Стиль для елементів списку проектів */
.my-projects-item {
    color: #000; /* Колір тексту */
    font-size: 14px; /* Розмір шрифту */
    font-weight: 700; /* Жирний шрифт */
    line-height: 24px; /* Висота рядка */
}

/* Стиль для списку проектів */
.my-projects-list {
    padding-left: 16px; /* Відступ зліва */
}

/* Стиль для посилань на проекти */
.my-projects-item-link {
    color: #005fff; /* Колір посилання */
    font-size: 14px; /* Розмір шрифту */
    font-weight: 400; /* Тонкий шрифт */
    line-height: 24px; /* Висота рядка */
    text-decoration-line: underline; /* Підкреслення */
}

/* Стиль для технологій проектів */
.my-projects-item-tech {
    color: #595959; /* Колір тексту */
    font-size: 14px; /* Розмір шрифту */
    font-weight: 400; /* Тонкий шрифт */
    line-height: 24px; /* Висота рядка */
}

/* Контейнер для проектів */
.my-projects-container {
    margin-bottom: 40px; /* Нижній відступ */
}

/* Стиль для заголовка досвіду роботи */
.work-experience-title {
    color: #000; /* Колір тексту */
    font-size: 22px; /* Розмір шрифту */
    font-weight: 700; /* Жирний шрифт */
    line-height: 27px; /* Висота рядка */
    margin-top: 0px; /* Відсутність верхнього відступу */
    margin-bottom: 8px; /* Нижній відступ */
}

/* Стиль для компаній в досвіді роботи */
.work-experience-company {
    color: #000; /* Колір тексту */
    font-size: 16px; /* Розмір шрифту */
    font-weight: 700; /* Жирний шрифт */
    line-height: 20px; /* Висота рядка */
    margin-top: 0; /* Відсутність верхнього відступу */
    margin-bottom: 12px; /* Нижній відступ */
}

/* Стиль для назви компанії */
.company-name {
    color: #6d9bf5; /* Колір тексту */
}

/* Стиль для періоду роботи */
.work-experience-period {
    color: #a8a8a8; /* Колір тексту */
    font-size: 12px; /* Розмір шрифту */
    font-weight: 400; /* Тонкий шрифт */
    line-height: 15px; /* Висота рядка */
    margin-bottom: 8px; /* Нижній відступ */
}

/* Стиль для роздільника між періодом та країною */
.work-experience-separator {
    color: #000; /* Колір тексту */
}

/* Стиль для списку обов'язків на роботі */
.work-experience-duties-list {
    padding-left: 16px; /* Відступ зліва */
}

/* Стиль для елементів списку обов'язків */
.work-experience-duties-item {
    color: #595959; /* Колір тексту */
    font-family: Montserrat; /* Шрифт */
    font-size: 14px; /* Розмір шрифту */
    font-weight: 400; /* Тонкий шрифт */
    line-height: 24px; /* Висота рядка */
}

/* Контейнер для досвіду роботи */
.work-experience-container {
    margin-bottom: 14px; /* Нижній відступ */
}

/* Стиль для секції освіти */
.Ed-dobro {
    margin-top: 40px; /* Верхній відступ */
}
